body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url('./assets/images/background.jpg') top center / cover no-repeat;
}

.todo-app {
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.app-title {
  color: #fff;
  font-size: 4rem;
}

.app-content-header {
  display: flex;
}

.todo-app-body {
  width: 100%;
  padding: 20px;
  background-color: #ccc;
  max-height: 70vh;
  overflow: hidden;
}
.todo-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

ul {
  list-style: none;
}

.todo-input {
  width: 100%;
  border: 0;
  background-color: transparent;
  outline: 0;
  font-size: 24px;
  color: rgb(20, 20, 20);
}
.todo-list {
  margin-bottom: 20px;
  max-height: 50vh;
  overflow-y: scroll;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 12px 5px;
  border-bottom: 1px solid #aaa;
  position: relative;
}

.todo-item:hover .icon-delete {
  display: inline-block;
}

*:read-only {
  cursor: context-menu;
}

.icon-delete {
  display: none;
  position: absolute;
  right: 14px;
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
}

.todo-app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-list {
  display: flex;
}

.status-item:not(:last-child) {
  margin-right: 15px;
}

.btn {
  border: 1px solid transparent;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.btn.active {
  border: 1px solid #aaa;
}

.btn:hover {
  border: 1px solid #aaa;
}

.todo-check-input {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
}
